{% extends 'base.html' %}

{% block title %}Index Page{% endblock %}
{% block content %}

<!-- Main Content Section -->
<div class="content">
    <h2>Explore the Power of Mobile Usage & User Behavior Data</h2>
    <p>Discover how mobile usage and user behavior data can help optimize user experiences and drive business decisions.</p>
    <a href="/explore" class="btn" style="text-decoration: none;">Explore Our Data</a>
    <a href="/login" class="btn" style="text-decoration: none;">login</a>

</div>

<!-- Footer Section -->


<footer style="text-align: center; background-color: #222; color: white; padding: 10px; margin-top: 40px;">
    <p>&copy; 2024 Mobile Insights | All Rights Reserved</p>
</footer>

{% endblock %}
